<h1>Project</h1>
<h2 style="margin-top: 1em">Basic Info</h2>
<table class="table" style="max-width: 420px">
  <tbody>
    <tr>
      <td class="table-active" style="width: 140px">Project Name</td>
      <td>{{project.name}}</td>
    </tr>
    <tr>
      <td class="table-active">Project Version.</td>
      <td>{{project.version}}</td>
    </tr>
    <tr>
      <td class="table-active">Create Time</td>
      <td>xxxx</td>
    </tr>
    <tr>
      <td class="table-active">description</td>
      <td>{{project.description}}</td>
    </tr>
  </tbody>
</table>
